<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>

<a href="/create">Adicionar Produto</a>

{% for produto in consulta %}
<h1>Produto: {{ produto.produto }}</h1>
<p>Marca: {{ produto.marca }}</p>
<p>Preço: {{ produto.preco }}</p>
<p>Quantidade: {{ produto.quantidade }}</p>
<p>Total: {{ produto.quantidade * produto.preco }}</p>
<a href="/update/{{produto._id}}">Editar</a>
<a href="/delete/{{produto._id}}">Deletar</a>
<hr/>
{% endfor %}

</body>
</html>