<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualização de Documento</title>
</head>
<body>

<form method="post">
  <input type="text" name="nome" value="{{ consulta['produto'] }}" placeholder="Nome do Produto">
  <input type="text" name="marca" value="{{ consulta['marca'] }}" placeholder="Marca do Produto">
  <input type="number" name="quantidade" value="{{ consulta['quantidade'] }}" placeholder="Quantidade do Produto">
  <input type="text" name="preco" value="{{ consulta['preco'] }}" placeholder="Preço do Produto">

  <button type="submit">Adicionar</button>
</form>

</body>
</html>