<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Atualização de Documento</title>
</head>
<body>

<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="inputNome"><h3>Nome do Produto</h3></label>
            <input type="text" name="nome" value="{{ consulta['produto'] }}" id="inputNome" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="inputMarca"><h3>Marca do Produto</h3></label>
            <input type="text" name="marca" id="inputMarca" value="{{ consulta['marca'] }}" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="inputQtd"><h3>Quantidade do Produto</h3></label>
            <input type="text" name="quantidade" id="inputQtd" value="{{ consulta['quantidade'] }}" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="inputPreco"><h3>Preço do Produto</h3></label>
            <input type="text" name="preco" id="inputPreco" value="{{ consulta['preco'] }}" class="form-control" autocomplete="off">
        </div>
        <div>
            <button type="submit" class="btn btn-success">Atualizar</button>
            <a class="btn btn-light" href="/">Cancelar</a>
        </div>
    </form>
</div>

<!-- <form method="post">

    <input type="text" name="nome" value="{{ consulta['produto'] }}" placeholder="Nome do Produto">
    <input type="text" name="marca" value="{{ consulta['marca'] }}" placeholder="Marca do Produto">
    <input type="number" name="quantidade" value="{{ consulta['quantidade'] }}" placeholder="Quantidade do Produto">
    <input type="text" name="preco" value="{{ consulta['preco'] }}" placeholder="Preço do Produto">

    <button type="submit">Atualizar</button>
    <a href="/">Cancelar</a>

</form> -->

</body>
</html>